<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gaming</title>
    <link rel="stylesheet" href="/css/grid.css">
</head>
<body>
    <h2>eat Coin Game</h2>
    <h4>result:<span>0</span></h4>
    <div class="grid">
        
    </div>
</body>
<script src="/js/generateGrid.js"></script>
</html>