container{
    display: inline-block;
    width: 38%;
    margin: 5% 5% 5% 5%;
    border: solid;
    border-width: 2px;
    margin-top: 10%;
    background-color: #ffffe6;
}
ul li,.waitList li{
    display: block;
    width: 80%;
    margin: auto;
    border:solid;
    border-color: black;
    border-width: 1px;
    padding:2%;
    background-color: white;
    text-align: center;
}


lobbyRoom{
    display: block;
    width: 50%;
    margin: auto;
    border: solid;
    background-color:#e6f7ff;
    border-style:line;
    border-width: 2px;
    margin-top:5%;

}

.waitRoom{
    border-style: none;
}
h3, label{
    padding: 5px 5px 5px 5px;
}
.room2{
    padding: 2% 0% 2% 2%;
}

h3{
    text-align: center;
}

#hugeTitle {
    font-size:30px;
}

